@model YennieStore.Models.Account
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index" class="breadcrumb-item">Danh sách Admin</a>
            <span class="breadcrumb-item active">Thông tin Admin : @Model.FullName</span>
        </nav>
    </div>
</div>

<div class="card-body">
    <h2 class="card-title">Xác nhận xóa Admin : @Model.FullName</h2>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td class="text-dark font-weight-semibold">@Model.AccountId</td>
                </tr>
                <tr>
                    <td>Tên Admin:</td>
                    <td>@Model.FullName</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td>@Model.Phone</td>
                </tr>
                <tr>
                    <td>Ngày tạo:</td>
                    <td>@Model.CreateDate</td>
                </tr>
                <tr>
                    <td>Lần đăng nhập cuối:</td>
                    <td>@Model.LastLogin</td>
                </tr>
                <tr>
                    <td>Mật khẩu:</td>
                    <td>@Model.Password</td>
                </tr>
                <tr>
                    <td>Trạng thái:</td>
                    <td>@Model.Active</td>
                </tr>
                <tr>
                    <td>Xác nhận xóa:</td>
                    <td>
                        <form asp-controller="AdminAccounts" asp-action="Delete" asp-route-id="@Model.AccountId">
                            <input type="hidden" asp-for="AccountId" />
                            <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>